@model TicketsHarbourApp.Models.Event.EventDetailsVM

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/eventDetails.css" asp-append-version="true" />
<div class="eventD">
    <h1>Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConcertName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationName), @Html.DisplayFor(model => model.Town), @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Performers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Performers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beginning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beginning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture)" alt="Image" width="500" />
        </dd>
        <dd class="col-sm-10">
            <a href="@Model.LocationUrl" target="_blank" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; font-size: 18px;">Open the location in Google Maps</a>
        </dd>
        
       
    </dl>
</div>


<div>
      @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                            {
                   <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            }
    <a asp-action="Index">Back to List</a>
</div>
<br><br><br><br><br><br>
   
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

