@model IEnumerable<TicketsHarbourApp.Models.Concert.ConcertIndexVM>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create" class="btn btn-warning">Create New</a>
    </p>
}

@* <form asp-controller="Concert" asp-action="Index" method="get">
    <p>
        Concert: <input type="text" name="SearchConcertName" />
        Location: <input type="text" name="searchLocation" />

        <input type="submit" value="Filter" />
    </p>
</form>
*@




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConcertName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertName)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Performers)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
                    @*@Html.DisplayFor(modelItem => item.Pictute)*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
